%html
  %body
    %h1
      So many books to choose from..
    %table.ui.table.segment.collapsing
      %thead
        %tr
          %th Cover
          %th Title
          %th Price
          %th Author
          %th Publisher
      %tbody
        - @books.each do |book|
          %tr
            %td
              %img{:src => book.cover.url(:thumb)}/
            %td
              = book.title
            %td
              = book.price
            %td
              - if book.author != nil?
                = book.author.title
            %td
              = book.publisher
            %td
              = link_to "View", book_path(book)
  %div.ui
    = will_paginate @books, :semantic => true