%html
  %body
    %h3
      Available plans..
    %table.ui.table.segment.collapsing
      %thead
        %tr
          %th Id
          %th Name
          %th Amount
          %th Created on
          %th View
          %th Buy
      %tbody
        - @plans.each do |plan|
          %tr
            %td
              = plan.id
            %td
              = plan.name
            %td
              = plan.amount
            %td
              = Time.at(plan.created)
            %td
              = link_to "View", plan_path(plan.id)
            %td
              = link_to "Subscribe", subscribe_plan_path(plan.id), :method=>"POST"
    - if (@plans.present?)
      = link_to "Next", plans_url({:after=>@plans.last.id})
